.block {
    position: absolute;
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.text--style-heading {
    font-family: kepler-std-extended-display, serif;
    font-weight: 300;
    font-style: italic;
}

.text--align-center {
    width: 100%;
    text-align: center;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
